<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Informe - Sesion 1 - 2020-01-08</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div style="width:800px; margin: 0 auto;">
        <h1>Informe - Sesion 1 - 2020-01-08</h1>
                <div>
                    <hr>
                    <h2>Resumen de tu sueño para esta sesión</h2>
                    <p>Has dormido demasiado poco.
No te has movido mucho al dormir.
No has entrado en sueño profundo, deberías hacer más ejercicio por cierto.
</p>
                    <ul>
                        <li>Media de BPM: <strong>85.23076923076923</strong></li>
                        <li>Número de cambios de postura: <strong>0</strong></li>
                        <li>Tiempo de sueño: <strong>26</strong></li>

                    </ul>
                    <hr>
                    <h2>Gráfico de BPM a lo largo de la noche</h2>
                    <img src="/static/images/Sesion_1_2020-01-08_bpm.png" height="600" width="800">
                    <hr>
                    <h2>Gráfico de movimientos a lo largo de la noche</h2>
                    <img src="/static/images/Sesion_1_2020-01-08_movimientos.png" height="600" width="800">
                    <hr>
                    <h2>Gráfico de presión sobre los sensores a lo largo de la noche</h2>
                    <img src="/static/images/Sesion_1_2020-01-08_presiones.png" height="600" width="800">
                </div>
    </div>
</body>
</html>
